{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>Haluatko tarkastella keskusteluja:<a
href="/topics">Keskustelut</a></p>
<p>Haluatko lisätä uuden keskustelun aiheen:<a
href="/viestit">Uusi aihe</a></p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Kirjaudu:<br>
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<p>Jos olet uusi käyttäjä:<a
href="/new">Rekisteröidy</a></p>
</body>
{% endif %}
